
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 240, 255);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.login-container {
    width: 350px;
    height: 350px;
    padding: 20px;
    background-color: rgb(192, 10, 202);
    border-radius: 15px;
    box-shadow: 4px
}
.input {
    width:300px ;
    height: 40px;
    margin-bottom: 20px;
}
.span-1 {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;


}
.button-kayit {
    background-color: rgb(241, 18, 186);
    color: white;
    width: 100;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    
}