* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 240, 255);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 18, 186);
    color: rgb(241, 227, 239);
    padding: 5px 30px;
}
.navbar ul {
    display: flex;
    list-style-type: none;
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(240, 238, 238);
    font-weight: bolder;
    margin-left: 20PX;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}


.linkler {
    display: flex;
    align-items: center;
}
a{
    font-size: 25px;
    font-weight: inherit;
    padding: 10px;
}
 .linkler ul li a:hover {
    background-color: rgb(236, 102, 227);
    color: rgba(16, 15, 15, 0.811);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.urunler-listesi {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.urunler-listesi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   gap: 15px;

}
.main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    
}
.main-h {
    margin-bottom: 15px;
    color: rgb(199, 21, 150);
    font-size: 50px;
}
aside {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    border: 2px solid rgb(240, 182, 223);
    margin-top: 59px;
}
.urunler img {
    width: 300px;
    height: 300px;
}
aside ul {
    list-style-type: none;
}
aside ul li a {
    text-decoration: none;
    color: rgb(199, 21, 150);
    font-weight: lighter;
    font-size: 40px;
    display: block;
}
p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.urunler-listesi-devam {
    text-align: center;
    border: 2px solid rgb(240, 182, 223);
    padding: 10px;
    border-radius: 10px;
}
button {
    background-color: rgb(241, 18, 186);
    color: rgb(240, 238, 238);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: rgb(199, 21, 150);
    transition: background-color 0.3s ease;
}
 .urunler h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(199, 21, 150);
}
aside ul li a:hover {
    background-color: rgb(236, 102, 227);
    color: rgba(16, 15, 15, 0.811);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
footer {
    background-color: rgb(241, 18, 186);
    color: rgb(240, 238, 238);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.slider {
    width: 700px;
    height: 400px;
    overflow: hidden;
    margin:auto;
}
.slider-izle-track {
    display: flex;
    width: calc(700px * 20); /* 5 resim için genişlik */
    animation: loop 20s linear infinite;
}
.slider-izle-track img {
    width: 700px;
    height: 400px;
    object-fit: cover;
}
@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-700px * 10)); /* 5 resim için kaydırma */
    }
}
.urunler span {
    font-size: 20px;
    font-weight: bold;
    color: rgb(199, 21, 150);
    padding: 10px;
}
h2 {
    text-align: center;
    margin: 20px;
    color: rgb(199, 21, 150);
    font-size: 40px;

}
